.title {
    font-size: 20px;
    color: var(--css-white);
    margin-bottom:20px;
}

.card-container {
    display: flex;
    column-gap: 42px;
    row-gap: 10px;
    flex-wrap: wrap;
 
}
.section {
    padding: 10px 32px;
    width:100%;
}
.section-header {
    display: flex;
    justify-content: space-between;
}

.secion-toggle-btn{
    font-size:20px;
    font-weight: 600;
    color: var(--css-primary);
    cursor:pointer;
}